<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
      <add id="Kiubix_SampleModule::kiubix" title="Kiubix" module="Kiubix_SampleModule"
          resource="Kiubix_SampleModule::kiubix" sortOrder="900" action="kiubix"/>
    </menu>
</config>
